# Server Configuration
PORT=3000

# Database Configuration (Local Docker)
MONGO_URI=mongodb://admin:secretpassword@localhost:27017/kids_learning_db?authSource=admin

# Security
JWT_SECRET=SUPER_SECRET_KEY_CHANGEME_IN_PROD
JWT_EXPIRES_IN=7d

# AI Integration
# Get your key from https://platform.openai.com/
OPENAI_API_KEY=sk-xxxx_your_actual_key_here


# DKPP@123